doctype html
html
	head
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
		title City Requests
	body(ng-app='HeatmapApp')
		div.container-fluid(ng-controller='HeatmapController')
		h1 Requests to find events near location...
		h1 {{heatmap.city}}
		li(ng-repeat="x in heatmap")
		td {{x.latlng}}



script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
script(src='js/heatmaps.js')
